.root {
  -fx-font-size: 12px;
  -fx-font-family: tahoma, arial, "Hiragino Sans GB", "SimSun", sans-serif;
}

.border-bottom {
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: #ccc;
}

.h1 {
  -fx-font-size: 16px;
  -fx-padding: 0 0 8px 0;
}

.h2 {
  -fx-font-size: 14px;
  -fx-padding: 0 0 8px 0;
}

.jfx-radio-button {
  -jfx-selected-color: #f66d31;
}

.progress-bar > .bar {
  -fx-background-color: #f66d31;
  -fx-background-insets: 3 3 4 3;
  -fx-background-radius: 2;
  -fx-padding: 0.5em;

}


/*背景*/
.progress-bar > .track {
  -fx-background-color:transparent;
}


.mylistview {
  -fx-font-size: 16px;
}

.action-button {
  -fx-padding: 0.6em 0.5em;
  -fx-pref-width: 120;
  -fx-font-size: 16px;
}

.tool-button {
  -jfx-button-type: RAISED;
  -fx-text-fill: #f66d31;
}