.root {
  -my-primary-color: #f66d31;
  -my-title-h1: 16px;
  -my-title-h2: 14px;
  -fx-font-family: 'sans-serif';
}

.close-button {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: transparent;
}

.close-button:hover {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: #f00;
}


.my-list-view {
  -fx-background-insets: 0;
  -fx-background-color: transparent;
}

.my-list-view .list-cell {
  -fx-cell-size: 36px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
}


.my-list-view .list-cell:odd,
.my-list-view .list-cell:even {
  -fx-background-color: transparent;
}

.my-list-view .list-cell:selected {
  -fx-background-color: #f7f7f7;
  -fx-cursor: default;
}

.my-list-view .list-cell:selected>.label {
  -fx-text-fill: #f66d31;
}