.root {
  -my-primary-color: #f66d31;
  -my-title-h1: 16px;
  -my-title-h2: 14px;
  -fx-font-family: 'sans-serif';
  -my-focus-border-color: rgba(0, 0, 0, 0.2);
  -my-flat-bg-color: #EEEEEE;
  -my-shadow-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.2), 6.0, 0.0, 0.0, 4.0);
  -fx-disabled-opacity: 0.3;
  -my-light-border-color: #D4D4D4;
  -my-dark-text-color: derive(-my-light-border-color, -70.0%);
}

.h2 {
  -fx-font-size: 14px;
  -fx-padding: 0 0 8px 0;
}

.my-list-view {
  -fx-background-insets: 0;
  -fx-background-color: transparent;
}

.my-list-view .list-cell {
  -fx-cell-size: 36px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
}


.my-list-view .list-cell:odd,
.my-list-view .list-cell:even {
  -fx-background-color: transparent;
}

.my-list-view .list-cell:selected {
  -fx-background-color: #f7f7f7;
  -fx-cursor: default;
}

.my-list-view .list-cell:selected>.label {
  -fx-text-fill: #f66d31;
}

/**
 * Checkbox
 */
.check-box>.box {
  -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  -fx-background-insets: 0.0, 1.0;
  -fx-background-radius: 2.0, 2.0;
}

.check-box:focused>.box {
  -fx-background-color: -my-focus-border-color, -fx-text-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.0, 0.0, 1.0;
  -fx-background-radius: 2.0, 2.0, 2.0;
}

.check-box:selected>.box {
  -fx-background-color: -my-primary-color;
  -fx-background-insets: 0.0;
  -fx-background-radius: 2.0;
}

.check-box:focused:selected>.box {
  -fx-background-color: -my-focus-border-color, -my-primary-color;
  -fx-background-insets: -1.0, 0.0;
  -fx-background-radius: 2.0, 2.0;
}

.check-box>.box>.mark {
  -fx-padding: 0.333333em;
}

.check-box:selected>.box>.mark {
  -fx-background-color: -fx-mark-highlight-color, white;
}

/**
 * Radio
 */
.radio-button>.radio {
  -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
  -fx-background-insets: 0.0, 1.0;
  -fx-padding: 1.0;
}

.radio-button:focused>.radio {
  -fx-background-color: -my-focus-border-color, -fx-text-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.0, 0.0, 1.0;
}

.radio-button:selected>.radio {
  -fx-background-color: -my-primary-color;
  -fx-background-insets: 0.0;
}

.radio-button:focused:selected>.radio {
  -fx-background-color: -my-focus-border-color, -my-primary-color;
  -fx-background-insets: -1.0, 0.0;
}

.radio-button:selected>.radio>.dot {
  -fx-background-color: transparent;
  -fx-background-insets: 0.0;
}


/**
 * Buttons
 */
.button,
.button:default,
.button:focused {
  -fx-background-color: -my-focus-border-color, -my-flat-bg-color;
  -fx-background-insets: 0.0, 0.5;
  -fx-background-radius: 3.0;
  -fx-text-fill: -my-dark-text-color !important;
}

.button:focused {
  -fx-background-color: -my-focus-border-color, -my-flat-bg-color;
  -fx-background-insets: 0.0, 1.0;
}

.button:hover {
  -fx-background-color: -my-focus-border-color, #f7f7f7;
  -fx-background-insets: 0, 0.5;
}

.button:disabled {
  -fx-translate-y: -0.0;
  -fx-opacity: -fx-disabled-opacity;
  -fx-effect: none;
}


.progress-bar {
   -fx-indeterminate-bar-escape: false;
   -fx-indeterminate-bar-animation-time: 1.0;
   -fx-max-height: 6px;
   -fx-min-height: 6px;
   -fx-pref-height: 6px;
}

.progress-bar>.bar {
  -fx-background-color: -my-primary-color;
  -fx-background-insets: 0.0;
  -fx-background-radius: 2px;
}

.progress-bar>.track {
  -fx-background-color: -my-flat-bg-color;
  -fx-background-insets: 0.0;
  -fx-background-radius: 2px;
}

.close-button {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: transparent;
  -fx-background-insets: 0
}

.close-button:hover {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: #f00;
  -fx-background-insets: 0
}

.action-button {
  -fx-padding: 8px 16px;
}

.link-button {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: transparent;
  -fx-background-insets: 0
}

.link-button:hover {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: -my-flat-bg-color;
  -fx-background-insets: 0
}
.link-button:focused {
  -fx-border-width: 0;
  -fx-border-insets: 0;
  -fx-background-color: -my-flat-bg-color;
  -fx-background-insets: 0
}