.root {
  -fx-font-family: "STXihei";
}



.title-bar {
  -fx-background-color: #e5e5e5;
}

.title-button {
  -fx-border-color: transparent;
  -fx-border-style: none;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}

.title-button:hover {
  -fx-border-color: transparent;
  -fx-border-style: none;
  -fx-background-color: #f00;
  -fx-background-insets: 0;
}

.action-button {
  -fx-padding: 8px 16px;
}

.nav-bar {
  -fx-background-color: #f0f;
}

.h2 {
  -fx-font-size: 14px;
  -fx-padding: 0 0 8px 0;
}

.check-box:selected>.box {
  -fx-background-color: #f66d31;
}



.radio-button:selected>.radio>.dot {
  -fx-background-color: #f66d31;
}

.radio-button:hover:selected>.radio>.dot {
  -fx-background-color: #f66d31;
}


.radio-button:focused:selected>.radio>.dot {
  -fx-background-color: #f66d31;
}

.my-list-view {
  -fx-padding: 0;
}

.my-list-view .list-cell {
  -fx-padding: 0;
  -fx-cell-size: 36px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
}